html{
    font-family: 'Times New Roman', Times, serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #F3F3F3;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 25%;
    z-index: 2;
    position: sticky;
}
.links a{
    text-decoration: none;
    color:black;
    display: block;
    width: 100%;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em ;
}
.link-style{
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}
.apuntador{
    font-size: 1em;
    font-weight: 700;
}
.links{
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 2em;
    width: 100%;
    background-color:  antiquewhite;
}


.header-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.depl{
    display: flex;
}
.desplegable{
    display: flex;
}
.presionar:hover .links{
    display: block;
    
}
h1{
    width: 5.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    
}
h2{
    font-size: 20px;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    
    
}

.img1{
    height: 3em;
    margin-top: 1em;
    width: 5em;
    padding-right: 1em;
}

.img2{
    height: 75%;
    width: 75%;
    display: inline-block;
}

.contenedor{
    /* height: 120em; */
    background-color: white;
}
.contenido{
    /* height: 500em; */
    background-color: white;
    padding-bottom: 20em;
}

.tipos{
    text-align: center;
    background-color: antiquewhite;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    display: none;
}

.tip{
    font-size: 20px;
    padding-right: 5em;
    padding-left: 5em;
}

.icono1{
/*     height: 20em;
    width: 20em; */
    background-color: #F3F3F3;
/*     margin-top: 2em;
    margin-left: 7em; */
    /* padding-bottom: 5em; */
    font-size: 0.7em;
    display: inline-block;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}
.icono1:hover{
    transform: scale(1.25);
}

    

.titulos{
    font-size: 2em;
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;;
}
.precios{
    font-weight: 700;
    margin-left: 1em;
    margin-top: 0.1em;
    font-size: 2em;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
    font-size: 1em;
    justify-content: center;
    align-items: center;
}
.sup{
    position: absolute;
}
.icono2{
    width: 95%;
    height: 12em;
}
.img3{
    height: 100%;
    width: 100%;
}
.im4{
    height: 100%;
    width: 50%;    
}
.im5{
    height: 100%;
    width: 50%;
    padding-right: 2em;
    padding-left: 2em;    
}
.im6{
    height: 11.5em;
    width: 100%;
}

.icono3{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
}

.acomodar{
    text-align: center;
    width: 45%;
    background-color: #F3F3F3;
}
.descripcion{
    height: 20%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
}
.descripcion2{
    height: 20%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em; 
    text-align: left;
    padding-bottom: 0.3em;
    padding-left: 0.5em;
}

.recomendar1{
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border: #F3F3F3 1px solid;
    color: white;
    padding: 0.5em;
}
.recomendar2{
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F3F3;
    padding-bottom: 3em;
    
}
.acomodar > div{
    background-color:white;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);

}


.redes{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

}
.wsp{
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 0 0.5rem 0.5rem 0
}
.imgred{
    width: 100%;
    height: 100%;
}
.bannerfin{
    background-color: #FA5E14;
    color: black;
    width: 100%;
    text-align: center;
    height: 1.5em;
    padding-top: 0.5em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}
@media screen and (min-width:720px){
    .container1, .container2 {
        flex-direction: row;
    }
}
