html{
    font-family: 'Montserrat', sans-serif;;
}

body {
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: #F3F3F3;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 25%;
    z-index: 2;
    position: fixed;
    height: 8em;
    width: 100%;
}
.links a{
    text-decoration: none;
    color:black;
    display: block;
    width: 100%;
    font-size: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em ;
}
.link-style{
    display: flex;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 1em;
}
.apuntador{
    font-size: 1em;
    font-weight: 700;
}
.links{
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 2em;
    width: 100%;
    background-color:  antiquewhite;
}


.header-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.depl{
    display: flex;
}
.desplegable{
    display: flex;
}
.presionar:hover .links{
    display: block;
    
}
h1{
    width: 5.5em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic; 
    font-size: 1.8em;
    margin-left: 0.3em;
    margin-top: 0.8em;
}
.svg-logo{
    margin-right: 1em;
}
h2{
    font-size: 20px;
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    display: inline-block;
    width: 100%;
    justify-content: center;
    text-align: center;
    
    
}

.img1{
    height: 3em;
    margin-top: 1em;
    width: 5em;
    padding-right: 1em;
}
.imgboton{
    height: 3em;
    margin-top: 1em;
    width: 5em;
    padding-right: 1em;
}

.imglogo{
    height: 3em;
    margin-top: 1em;
    width: 5em;
    padding-right: 1em;
}

.img2{
    height: 75%;
    width: 75%;
    display: inline-block;
}

.contenedor{
    
    background-color: white;
    padding-top: 8em;
}
.contenido{
    /*height: 500em;*/ 
    background-color: white;
}

.tipos{
    text-align: center;
    background-color: antiquewhite;
    font-weight: 100;
    font-family: 'Montserrat', sans-serif;
    display: none;
    width: 100%;
    height: 100%;
}

.tip{
    font-size: 20px;
    padding-right: 5em;
    padding-left: 5em;
}
.tip:hover{
    border: 2px solid #48D1CC;
}

.icono1{
/*     height: 20em;
    width: 20em; */
    background-color: #F3F3F3;
/*     margin-top: 2em;
    margin-left: 7em; */
    /* padding-bottom: 5em; */
    font-size: 0.7em;
    display: inline-block;
    transition: all 0.5s;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;
}
.icono1:hover{
    transform: scale(1.25);
}

    

.titulos{
    font-size: 2em;
    text-align: center;
}
p{
    font-family: 'Montserrat', sans-serif;;
}
.precios{
    font-weight: 700;
    margin-left: 1em;
    margin-top: 0.1em;
    font-size: 2em;
}

.container1, .container2 {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 1rem 0;
    font-size: 1em;
    justify-content: center;
    align-items: center;
}
.sup{
    position: absolute;
}
.icono2{
    width: 95%;
    height: 12em;
}
.img3{
    height: 100%;
    width: 100%;
}
.im4{
    height: 100%;
    width: 50%;    
}
.im5{
    height: 100%;
    width: 50%;
    padding-right: 2em;
    padding-left: 2em;    
}
.im6{
    height: 11.5em;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);

}
.im7{
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);

}
.im8{
    height: 100%;
    width: 100%;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.4);

}

.icono3{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
}
.icono4{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 2em;


}
a{
    text-decoration: none;
    color: black;
}

.acomodar{
    text-align: center;
    width: 45%;
}
.acomodar > div{
    background-color: #F3F3F3;
}
.acomodar2{
    text-align: center;
    background-color: white;
    width: 45%;
    height: 85%;
}
.acomodar3{
    text-align: center;
    width: 90%;
    background-color: white;
}
.escolar{
    width: 95%;
    display: flex;
    justify-content: space-around;    
}
.descripcion{
    height: 20%;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    }
.descripcion2{
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em; 
    text-align: left;
    padding-left: 0.5em;
    width: 100%;
    height: 100%;
}

.recomendar1{
    text-transform: uppercase;
    text-align: center;
    display: block;
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    border: #F3F3F3 1px solid;
    color: white;
    padding: 0.5em;
}
.recomendar2{
    font-size: 'Montserrat', sans-serif;
    height: 400px;
    margin: auto;
    max-width: 100%;
    width: 100%;
    background-color: #F3F3F3;
    border: 1px solid #DCDCDC
}
.recomendar2.escolares{
    height: 43.10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.recomendar2 {
    width: 95%;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.contenedor-playa{
    margin: auto;
    height: 75%;
    width: 95%;
    display: flex;
    justify-content: space-between;
    gap: 1em;
}
.cont-playa{
    background-color: white;
    padding-bottom: 0.5em;
    border: 1px solid #DCDCDC;
}
.im-playa{
    width: 100%;
    height: 80%;
}
.recomendar3{
    width: 90%;
    font-family: 'Montserrat', sans-serif;
    background-color: #F3F3F3;
    padding-bottom: 2em;
}

.redes{
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;

}
.wsp{
    width: 80px;
    height: 80px;
    object-fit: cover;
    padding: 0 0.5rem 0.5rem 0
}
.imgred{
    width: 100%;
    height: 100%;
}
.bannerfin{
    background-color: #FF7F4E;
    color: black;
    width: 100%;
    text-align: center;
    height: 1.9em;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container-slider{
    width: 90%;
    max-width: 900px;
    margin: auto;
    /*overflow: hidden;*/
    border: #FFDEAD 2px solid;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-bottom: 2em;
}
.slider{
    display: flex;
    width: 400%;
    height: 250px;
    margin-left: 0%;
    
}
.slider_section{
    width: 100%;
}
.slider_img{
    display:block;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.slider_btn{
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: rgba(255,255,255,0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold ;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;

}
.slider_btn:hover{
    background-color: #fff;
}
.slider_btn-right{
    right: 10px;
}
.slider_btn-left{
    left:10px;
}
.playa{
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 700;   
    padding-top: 1em;
}
.precio{
    margin-top: 0.5em;
    font-style: italic;
}
.escolartitulo{
    font-size: 1.3em;
    padding-bottom: 1em;
    font-weight: 700; 
    font-style: italic; 
    padding-top: 1em;
    margin-left: 0.8rem;
}
.precio-escolar{
    font-weight: 700;
    padding-top: 0.5em;
}
.titulo-playa{
    font-size: 0.9em;

}
.cont-playa-add{
    display:none;
    border: 1px solid #DCDCDC;
    padding-bottom:0.5em;
}
.cont-escolar{
    width: 95%;
    height: 40%;
    background-color: white;
}
.anuncio{
    width: 100%;
    text-align: center;
    border: none;
    border-top: solid 2px black;
    color: black;
    padding: 0.5em 0;
    margin: 1rem 0;
    font-size: 1.4rem;
    font-style: italic;
}
.escolar-precio{
    width: 95%;
    height: 38%;
    display: flex;
    justify-content: center;
    gap: 2em;
}
.sub-escolar{
    width: 50%;
    height: 90%;
    background-color: white;
    border: 1px solid #DCDCDC;
    padding-bottom: 0.5em;
}

.im-escolar{
    height: 100%;
    width: 100%;
}
.im-escolar2{
    height: 70%;
    width: 100%;
}
.playa-zapa{
    width: 100%;
    font-size: 1.3em;
    margin: 1rem 0 1rem 0.5em;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (min-width:720px){
    
   
    .container1, .container2 {
        flex-direction: row;
        display:block;
    }
    .imgboton{
        display:none;
    }
    .imglogo{
        margin-right: 5em;
    }
    h1{
        font-size: 2.3em;
        margin: 0.5em  0 0 0 ;
    }
    .Title{
        height: 65px;
    }
    .header-title{
        justify-content: start;
        padding-bottom: 15px;
    }
    h2{
        display:none
    }
    .content-link{
        width: 100%;
        background-color: #F3F3F3;
        height: 1.5em;
        display: flex;
        font-family: 'Montserrat', sans-serif;;
        font-size: 1.2rem;
    }
    .tipo{
        background-color: antiquewhite;
        height: 100%;
        width: 33%;
        margin:auto;
        text-align: center;
    }
    .tipo:hover{
        background-color: #FFE4C4;
        
    }
    .enlazar:hover{
        color:black;
    }
    .enlazar{
        width: 100%;
        height: 100%;
        margin-top: 0.1em;
    }
        
    
    .tip{
        border-right: solid 3px #F3F3F3;
        margin: 0 0 0 0 ;
    }
    .tip.tip1{
        border-left: solid 3px #F3F3F3;
    }
   .container-slider{
    margin-top: 1em;
    margin-bottom: 2em;
    max-width:100% ;
    width: 90%;
    height: 100%;

   }
   .slider{
        height: 100%;
        width: 400%;
   }
   
   .slider_img{
        height: 400px;
    }
    .icono2{
        max-width: 100%;
        height: 20em;
        margin: auto;
        width: 90%;
        margin-bottom: 2rem;
    }
    .icono3{
        max-width: 100%;
        margin: auto;
        height: 25em;
        width: 95%;
        margin-bottom: 2rem;
    }
    .recomendar2{
        font-family: 'Montserrat', sans-serif;
        height: 37.5em;
        margin: auto;
        max-width: 100%;
        width: 90%;
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        background-color: #F3F3F3;
        flex-direction: column;
        border: 1px solid #DCDCDC

    }
    .recomendar2.escolares{
        height: 1200px;
        align-items: center;
        gap: 1em;

    }
   
    .playa-zapa{
        width: 100%;
        font-size: 1.5em;
        height: 6%;
        margin: 0.2em 0 0 2em;
        font-weight: bold;
        margin-top: 2rem;
        
    }
    .contenedor-playa{
        margin: auto;
        width: 93%;
        height: 80%;
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        gap: 3em;
        
    }
    .cont-playa{
        width: 30%;
        height: 100%;
        background-color: white;
        border: 1px solid #DCDCDC;
    }
    .cont-playa-add{
        width: 30%;
        height: 100%;
        background-color: white;
        display: block;
        border: 1px solid #DCDCDC;
        padding-bottom: 0.5em;
    }
    .im-playa{
        height: 85%;
        width: 100%;

    }
    .titulo-playa{
        margin-left: 0.313em;
        font-size: 1.563em;
        font-family: 'Times New Roman', Times, serif;
    }
    .precio{
        
        font-size: 1.563em;
        margin-left: 0.313em;
    }
    .cont-escolar{
        height: 40%;
        width: 75%;
        background-color: white;
    }
    .anuncio{
        color: black;
        width: 100%;
        text-align: center;
        font-size:2em;
        font-style: italic;
        border: none;
        border-top: 2px solid black ;
    }
    .escolar-precio{
        display: flex;
        height: 35%;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 5em;
    }

    .sub-escolar{
        width: 30%;
        height: 95%;
        background-color: white;
        border: 1px solid #DCDCDC;
    padding-bottom: 0.5em;
}
    
    .im-escolar{
        width: 100%;
        height: 100%;
        margin: auto;
    }
    .im-escolar2{
        height: 80%;
        width: 100%;
    }
    .ventas{
        height: 150em;
        width: 100%;
        
        display: flex;
        gap: 1em;
        padding-top: 10em;
    }
    .contenedor-buscar{
        width: 25%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .contenedor-ventas{
        width: 74%;
        height: 100%;
        background-color: white

    }
    .lista-contacto{
        height: 15.7%;
        display: flex;
        list-style: none;
        padding: 0;
        grid-gap:3em ;
        margin-bottom: 3em;
    }
    .sandalias-ventas{
        border: solid 2px #F3F3F3 ;
        width: 28%;
        background-color: white;
        margin-left: 6px;
    }
    .cont-image{
        height: 100%;
        width: 100%;
        border: 1px solid #DCDCDC;
       
    }
    .img-venta{
        height: 85%;
        width: 100%;
    }
    .cont-venta{
        height: 14%;
        width: 100%;
        color: black;
        display: flex;
        flex-direction: column;
        
    }
   .cont-venta>p{
        margin: 2px 0 0 1em;
        font-size: 18px;
   }
   .precio-sandalia{
        color:red;
        font-style: italic;
    }
    .cont-image:hover{
        box-shadow:  0 0 15px 5px #00FAC2;
    }
    .opciones{
        height: 95%;
        width: 95%;
        display: flex;
        flex-direction: column
    }
    .boton-buscar{
        border: solid 2px #DCDCDC;
        margin-left: 2em;
        border: white;
    }
    
    .label-buscar{
        border-bottom: 2px solid black;
        margin-bottom: 1em;
        height: 2em;
    }

   
   
}
    

    
